{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}Trioomph - {{profile.user.first_name}}{% endblock %}
{% block header %}
  <link href="http://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
<a style='float:right' href='{% url 'admin:mentors_mentorprofile_change' profile.pk %}'>✎ Edit this profile</a>
<div id='top_section'>
  <h1 id='mentor-name'>{{profile.user.first_name}} {{profile.user.last_name}}</h1>
  <div class='row' style='margin-bottom: 2em'>
    <div class='col-md-4' id='thumbnail-section'>
      <div class="polaroid">
        <p>{{profile.user.first_name}}</p>
        <img src='{% get_media_prefix %}{{profile.thumbnail}}' />
      </div>
      <div id='question-button'><button type="button" class="btn btn-success">Posez une question à {{ profile.user.first_name }}!</button></div>
    </div>
    <div class='col-md-8' id='mentor-info'>
      <div class="panel panel-primary">
        <div id='biography' class="panel-heading">
          <h3 class="panel-title">Biographie</h3>
        </div>
        <div class="panel-body">
          {{ profile.bio }}
        </div>
      </div>
      <div id='oneliner' class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Une phrase qui me décrit bien</h3>
        </div>
        <div class="panel-body">
          {{ profile.oneliner }}
        </div>
      </div>
    </div>
  </div>
  <div class='col-md-12'>
    <div id='conferences' class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Prochaine conférence en ligne de {{profile.user.first_name}}</h3>
      </div>
      <div class="panel-body conference">
        {% for conference in profile.conference_set.all %}
          {% if forloop.first %}
          <div class='row'>
            <div class='col-md-8'>
              <div><b>Quand:</b> {{ conference.date }}</div>
              <div><b>Sujet:</b> {{conference.title}}</div>
              <div><b>À noter:</b> La conférence sera disponible en vidéo par la suite</div>
            </div>
            <div class='col-md-4'><button id='info-conference' type="button" class="btn btn-warning"><b>CLIQUE ICI</b></button></div>
          </div>
          {% endif %}
        {% empty %}
          <p>Revenez bientôt pour voir du contenu!</p>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class='col-md-12'>
    <div id='videos' class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Vidéos archivées</h3>
      </div>
      <div class="panel-body">
        <div class='row'>
        {% for video in profile.videolink_set.all %}
            <div class='col-md-3 video-thumb'>
              <a href='http://youtube.com/watch?v={{video.video_id}}'><img src='http://i.ytimg.com/vi/{{ video.video_id }}/0.jpg'/></a>
            </div>
            <div class='col-md-3'>
              <div class='youtube-header'>Vidéo YouTube</div>
              <div class='youtube-title'>{{video.title}}</div>
              <div class='youtube-description'>{{video.description}}</div>
            </div>
        {% empty %}
          <div style='margin-left: 15px'>Revenez bientôt pour voir du contenu!</div>
        {% endfor %}

        </div>
      </div>
    </div>
  </div>
  <div class='col-md-12'>
    <div id='questions' class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Questions et réponses</h3>
      </div>
      <div class="panel-body question">
        {% for question in profile.questionanswer_set.all %}
          <div><b>Question: {{ question.question }}</b></div>
          <h5>Question de {{ question.asker.first_name }}</h5>
          <div class='answer'>Réponse: {{ question.answer }}</div>
        {% empty %}
        <p>Revenez bientôt pour voir du contenu!</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
