{% load static %}<div class='col-md-12 mentor_thumb'>
        <div class='row'>
          <div class='col-md-5' id="thumbnail-list-section">
            <div class="polaroid">
              <p>{{mentor.user.first_name}}</p>
              <a href='{% url 'mentor' mentor.pk %}'><img src='{% get_media_prefix %}{{mentor.thumbnail}}' /></a>
            </div>
          </div>
          <div class='col-md-6'>
            <div class='mentor_name'><a href='{% url 'mentor' mentor.pk %}'>{{mentor.user.first_name}} {{mentor.user.last_name}}</a></div>
            <div class='mentor_oneliner'>{{mentor.oneliner}}</div>
          </div>
        </div>
      </div>
