{% load i18n %}
<div class="col-md-12 buttons-div">
  <div class='with-account'>
    <p>{% trans 'Do you have an account?' %}</p>
    <button type="button" onclick='window.location = "{% url 'auth_login' %}"' class="btn btn-primary btn-lg">{% trans 'Log in!' %}</button>
  </div>
  <div class='no-account'>
    <p>{% trans 'Otherwise...' %}</p>
    <button type="button" onclick='window.location = "{% url 'registration_register' %}"' class="btn btn-default btn-lg">{% trans 'Create an account!' %}</button>
  </div>
</div>
