#thumbnail-section {
  padding: 0px 20px 0px 20px;
  text-align: center ;
}

#thumbnail-section img {
  width: 100%;
  margin: auto;
}

#mentor-name {
  margin-bottom: 1em;
}

img.thumb {
  width: 100%;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  max-height: 225px;
}

.buttons-div {
  text-align: center;
}

.video-thumb img {
  width: 100%;
}

.top-alert {
  width: 80%;
}

.mentor_name {
  font-size: large;
}

#info-conference {
  margin-top: 2em;
  width: 80%;
}

.buttons-div {
  margin-top: 20em;
}

.question div {
  font-size: large;
}

.youtube-header {
  text-decoration: underline;
  font-size: 1.2em;
}

.youtube-title {
  font-weight: bold;
}
.youtube-description {
  margin-top: 1em;
  color: gray;
  margin-left: 20px;
}

.youtube-description:before {
    display: block;
    font-size: 700%;
    content: "\201C";
    height: 1px;
    margin-left: -0.5em;
    position:relative;
    top:-20px;
}


/* Polaroid */

.polaroid {
  position: relative;
  width: 100%;
  border: 1px solid #d3d3d3;
}

.polaroid img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}

.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0px;
  font: 400 20px/1 'Kaushan Script', cursive;
  color: #888;
}
