#header {
  padding-top: 2em;
  height: 100px;
}

#top_section {
  height: 300px;
}

#thumbnail_section {
  padding: 20px 20px 20px 20px;
}

#thumbnail_box img {
  width: 275px;
  height: 205px;
}

.thumb img {
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  max-height: 225px;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.mentor_thumb {
  height: 8em;
}

.mentor_name {
  font-size: large;
}
