{% load i18n %}
<ul class="nav nav-list">
  <li class="nav-header">
    {% trans "Navigation" %}
  </li>
  <li>
    {% if user.is_authenticated %}
      <a href="{% url "index" %}"><i class="icon-home"></i>
      &nbsp;{% trans "Home (My Packages)"%}
    {% else %}
      <a href="{% url "index" %}"><i class="icon-home"></i>
      &nbsp;{% trans "Home"%}
    {% endif %}
  </li>
  {% if user.is_authenticated %}
    <li class="nav-header">
      {%trans "Welcome" %}
    </li>
    <li>
      <a href="{% url "auth_logout" %}">{% trans "Exit (logout)"%}</a>
    </li>
    <li>
      <a href="{% url "auth_password_change" %}">{% trans "Change my password"%}</a>
    </li>
  {% else %}
    <a href="{% url "auth_login" %}">{% trans "Enter (login)"%}</a>
  {% endif %}
</ul>

